SNN/__pycache__/*
kaon_pruebas2
merged_data_kaon_pruebas
Gráficas_red
lectura_resultados
logs
merged_data_kaon
merged_data_pion
merged_data_proton
plots_merged
resultados
*.dat
plots.py
read.py
tiempos.py
dataset_modified.py
Graficas_dataset
Images
HighLevelData
Data_full_calorimeter
genPhotonsModified.cpp
genPhotonsModified.o
genPhotonsModified
run_full_calo.sh
run_gen.sh
submit_gen.sub